* {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    
}

h1 {
    color: blue;
}


.nav_icon {
   height: 300px;
}

ul li {
    font-size: 20pxs;
}

ul li:first-child {
    color: red;
    font-weight: bold;

}

ul li:nth-child(2) {
    color: green;
    font-weight: bold;
}

ul li:last-child {
    color: rgb(195, 0, 255);
    font-weight: bold;
}

#mi_enlace {
    
    
    text-decoration: none;
}



#mi_enlace:link {
    color: red;
    
    
}

#mi_enlace:visited {
    color: green;
    
    
}


.nav_link {
    background: red;
}

.nav_link:target {
    background: green;
}


:root {
    --pink: rgb(234, 0, 255);
}

h1 {
    color: var(--pink);
}

p::first-letter {
    font-size: 30px;
    color: red;
  background-color: aquamarine;  
}

input[type="text"] ::placeholder{
    color: rgb(225, 65, 65);
}

p::before {
    content: "Antes del párrafo. ";
    color: red;
}